body {
  background-color: #e4e4e4;
  margin: 0;

  #landing-page {
    display: flex;
    flex-direction: column;
    font-family: "helvetica";
    font-weight: bold;
    opacity: 0.85;
    min-height: 120vh;

    #banner {
      background-image: url("./icons/banner.jpg");
      background-repeat: no-repeat;
      width: auto;
      height: 639px;

      h2 {
        color: white;
        text-align: center;
        margin-left: 10em;
      }
    }

    // fix for image not displaying in "img"
    .groceries-row {
      display: flex;
      flex-direction: row;
      margin-top: 0.8em;

      #groceries {
        background-image: url("./icons/groceries.svg");
        background-repeat: no-repeat;

        p {
          visibility: hidden;
        }
      }

      #steak {
        background-image: url("./icons/steak.svg");
        background-repeat: no-repeat;

        p {
          visibility: hidden;
        }
      }

      #stew {
        background-image: url("./icons/stew.svg");
        background-repeat: no-repeat;

        p {
          visibility: hidden;
        }
      }
    }

    footer {
      text-align: center;
      margin-top: auto;
      font-weight: normal;
      font-size: 0.75em;
      opacity: 0.7;
    }

    ul {
      list-style: none;
      font-size: 1.3em;
      margin-left: 1em;

      li {
        margin-top: 1.5em;
      }
    }

    #landing-info {
      display: flex;
      flex-direction: row;
      margin: 4em 0 2em 2em;
      font-size: 2em;
    }
  }

  // The following CSS pertains to the header ----------------------------------------------------

  .header {
    background-color: black;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      background-color: black;
      align-content: center;
    }

    li a {
      display: block;
      padding: 10px 20px;

      border-right: 1px solid #f4f4f4;
      text-decoration: none;
      color: white;
    }

    .logo {
      display: block;
      float: left;
      font-size: 2em;
      padding: 10px 20px;
      text-decoration: none;
    }

    .menu {
      clear: both;
      max-height: 0;
      transition: max-height 0.2s ease-out;
    }

    .menu-icon {
      cursor: pointer;
      display: inline-block;
      float: right;
      padding: 28px 20px;
      position: relative;
      user-select: none;
    }

    .menu-icon .navicon {
      background: white;
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 20px;
    }

    .menu-icon .navicon:before,
    .menu-icon .navicon:after {
      background: white;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 100%;
    }

    .menu-icon .navicon:before {
      top: 5px;
    }

    .menu-icon .navicon:after {
      top: -5px;
    }

    .menu-btn {
      display: none;
    }

    .menu-btn:checked ~ .menu {
      max-height: 500px;
    }

    .menu-btn:checked ~ .menu-icon .navicon {
      background: transparent;
    }

    .menu-btn:checked ~ .menu-icon .navicon:before {
      transform: rotate(-45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon:after {
      transform: rotate(45deg);
    }

    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
      top: 0;
    }
  }

  // CSS for the large header
  .header-large {
    background-color: black;
    font-family: Verdana, sans-serif;

    #header-logo-large {
      color: white;
      border: 3px solid white;
      padding: 0em 1em 0em 1em;
      margin: 0.3em 4em 0.3em 0.3em;
      font-family: Brush Script MT;
      font-size: 1.4em;
      text-decoration: none;
    }

    .header-button {
      color: white;
      margin: 1em;
    }
  }

  // CSS for the medium header
  .header-medium {
    background-color: rgb(32, 32, 32);
    color: black;
    font-family: Verdana, sans-serif;

    .header-button:hover {
      background-color: #ddd;
      color: black;
    }

    #header-logo-medium {
      color: white;
      border: 3px solid white;
      padding: 0em 1em 0em 1em;
      font-family: Brush Script MT;
      font-size: 1.2em;
      text-decoration: none;
      text-align: center;
      margin: 0.3em 4em 0.3em 0.3em;
    }

    #hamburger_icon {
      margin: 1em;
      .hamburger_line {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px;
      }
    }
  }

  .searchBar {
    width: 100%;
    text-align: center;
    border: none;

    input {
      width: 60%;
    }

    .search-bar {
      padding: 6px;
      font-size: 17px;
      border: none;
    }
  }

  .search-button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  // CSS relating to recipe forms, fields, and containers ---------------------------------------------------------------------------------

  #field {
    margin-top: 7em;
  }

  .food-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    .indiv-recipe {
      height: 250px;
      width: 250px;
      margin: 1.5em;
      font-family: Georgia;
      font-size: 40%;
      background-repeat: no-repeat;
    }

    #recipe-title {
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 2%;
    }
  }

  .food-info {
    border: 1px solid black;
    font-size: 40%;
    background-color: white;
    margin: 7%;
    padding: 2em;

    .food-title {
      text-decoration: underline;
      font-size: 200%;
    }

    .recipe-main {
      text-decoration: underline;
      margin: 0 1em 0 0;
    }
  }

  form {
    text-align: left;
    margin: 2em 0 2em 1.5em;

    #instructionsField {
      min-height: 40%;
      max-height: 100%;
      margin: 1.5em 0 1em 0;

      textarea {
        width: 50%;
      }
    }

    #recipeField {
      min-height: 40%;
      max-height: 100%;
      margin: 0 0 1em 0;
    }

    #upload-button {
      margin: 0 0 1em 0;
    }
  }

  #my-recipe-box {
    height: 250px;
    width: 250px;
    margin: 1em;
    padding: 1em;

    #my-recipe {
      display: block;
      height: 250px;
      width: 250px;
      border: 1px solid black;
      text-align: center;
      box-shadow: 5px 6px 6px grey;

      h3 {
        text-decoration: underline;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }

  #all-my-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

#my-food-info {
  border: 1px solid black;
  background-color: white;
  margin: 7%;
  padding: 2em;

  #food-title {
    text-decoration: underline;
    font-size: 200%;
  }
}

// code below is for responsive nav bar based on screen size ----------------------------------

@media screen and (min-width: 801px) {
  .header-large {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .header-medium {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .header-large {
    display: none;
  }

  #cutlery-logo {
    display: none;
  }

  .header-medium {
    margin-bottom: 10em;
    display: flex;
    flex-direction: row;
  }

  #banner {
    margin-top: -5em;
    width: 200px;

    #landing-info {
      opacity: 0;
    }
  }

  .groceries-row {
    position: relative;
    top: -28em;
    color: white;
    font-size: 1em;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    background-color: black;
    padding: 0.5em;
    margin: 1em 1em 1em -1em;
    opacity: 90%;

    p {
      margin-right: 1em;
    }

    #groceries,
    #steak,
    #stew {
      width: 50%;
      height: 50%;
    }
  }
}

// CSS below for Google login button -----------------------------------------------------------

$white: #ffffff;
$google-blue: #4285f4;

/*
  google-btn-over is used for formatting the actual sign-in button. Without it, the 
  entire HTML element can be clicked and used to sign in, which takes up more space than
  just the sign-in button
*/
.google-btn-over {
  background-color: black;
  margin-left: auto;
  border: none;
  outline: none;

  .google-btn {
    width: 184px;
    height: 42px;
    background-color: $white;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

    .google-icon-wrapper {
      position: absolute;
      margin-top: 1px;
      margin-left: 1px;
      width: 40px;
      height: 40px;
      border-radius: 2px;
      background-color: $white;
    }
    .google-icon {
      position: absolute;
      margin-top: 11px;
      width: 18px;
      height: 18px;
    }
    .btn-text {
      float: right;
      margin: 11px 11px 0 0;
      color: black;
      font-size: 14px;
      letter-spacing: 0.2px;
      font-family: "Roboto";
    }
    &:hover {
      box-shadow: 0 0 6px $google-blue;
    }
  }
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}
