body {
  background-color: #dee2e8;
}

#main-header {
  text-align: center;
  color: white;
  background: #65e59c;
  padding: 2em 0 0 0;
  font-family: Verdana, sans-serif;
}

.food-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  .indiv-recipe {
    height: 250px;
    width: 250px;
    font-family: Georgia;
    font-size: 40%;
    margin: 1em;
    background-repeat: no-repeat;
  }

  #recipe-title {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2%;
  }
}

form {
  padding: 5px;
  margin: 2em;
  text-align: center;
  border: none;

  input {
    width: 30%;
  }
}

.food-info {
  border: 1px solid black;
  font-size: 30%;
  background-color: white;

  .food-title {
    text-align: center;
    text-decoration: underline;
    font-size: 200%;
  }
}

.top-nav {
  display: flex;
  flex-direction: row;
  background-color: #3cc97b;
  text-decoration: none;

  li {
    display: inline;
    margin: 0 1em 0 0;
    padding: 1em;
    color: white;
    :link {
      text-decoration: none;
      border: 3px;
    }
  }
}
